body {
  position: relative;
}
.divNav {
  display: inline-block;
  position: absolute;
  right: 35%;
  top: 15px;
}
.nav {
  position: relative;
}
.chatgpt-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
  /* font-size: 50px; */
}
.pNav {
  position: relative;
  top: 15px;
  left: 40px;
}
.iNav {
  position: relative;
  top: 20px;
  left: 50px;
}
p {
  display: inline;
}
.rightNav {
  position: absolute;
  top: 10px;
  right: 3%;
  width: 180px;
}
.q {
  position: relative;
  text-align: center;
  display: inline-block;
  left: 10px;
  border-radius: 100%;
  font-size: small;
  width: 10px;
  border: solid 2px black;
}
.signin {
  text-align: center;
  padding: 1px 3px;
  display: inline-block;
  position: relative;
  left: 7px;
  border: solid 1px black;
  border-radius: 2em/5em;
}
.login {
  padding: 1px 3px;
  text-align: center;
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 2em/5em;
}
main h1 {
  font-size: xx-large;
  font-weight: 100;
  margin: 30px;
}
main {
  display: inline-block;
  position: absolute;
  top: 3000%;
  left: 30%;
}
main div {
  border: solid 1px black;
  height: 100px;
  width: 150%;
  position: relative;
  right: 35%;
  border-radius: 2em/5em;
}
.hyphen {
  position: relative;
  left: 25px;
  top: 5px;
  float: left;

}
.inputMain {
  border: 0px;
  position: relative;
  top: 5px;
  right: 320px;
}
main div span p {
  text-align: center;
  display: inline-block;
}
main div span {
  padding: 4px;
  border: solid 1px black;
  border-radius: 2em/5em;
}
.maindivspan {
  position: relative;
  margin: 0 2px;
  float: left;
  left: 10px;
  top: 60px;
}
.voice {
  position: relative;
  left: 280px;
  top: 65px;
}

